h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
